### Maven ###
target/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Java ###
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*
replay_pid*
*.mdmp

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
